.education-wrapper {
    display: flex;
    width: 100%;
    /* height: 80vh; */
    flex-direction: column;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 150px;
}

.education-title {
    height: 15vh;
    display: flex;
    justify-content: center;
    font-size: 42px;
    align-items: center;
}

.education-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
}

.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-container .icon-container i {
    font-size: 54px;
    color: var(--primary-color)
}

.education-container .icon-container i:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.education-container .skill-title {
    font-size: 32px;
    font-weight: 700;
}
.education-container .degree {
    font-size: 25px;
    font-style: inherit;
}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  /* .flip-card-front {
    background-color: #bbb;
    color: black;
  } */
  
  /* Style the back side */
   .flip-card-back {
    background-color: rgb(255, 30, 86);
    color: white;
    transform: rotateY(180deg);
    line-height: initial;
  }
   
