.about-wrapper {
    /* margin-top: 100px; */
    display: flex;
    overflow: scroll;
}

.about-side-wrapper {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.about-contact {
    flex: 1;
    padding: 10px;
}

.about-contact .info-container {
    margin-bottom: 10px;
}

.about-contact .info-container i {
    color: var(--primary-color);
}

.about-education {
    flex: 1;
    padding: 10px;
}

.about-hobbies {
    flex: 1;
    padding: 10px;
}

.about-summary {
    flex: 2;
    padding: 10px;
}

.about-wrapper .about-title {
    font-size: 28px;
    font-weight: 700;
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 10px;
    text-decoration: underline;
}

.about-wrapper .title-secondary {
    color: var(--secondary-color);
    margin-bottom: 5px;
}

.about-wrapper .about-description {
    margin-bottom: 10px;
}

.about-main-wrapper {
    flex: 5;
    padding: 10px;
}

.about-work-experience .job-designation {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.about-work-experience .organisation-name {
    font-size: 22px;
    margin-bottom: 2px;
}

.about-work-experience .job-duration {
    color: lightseagreen;
}

.about-work-experience .experience-details {
    margin-bottom: 25px;
}

.work-descriptions ul li {
    margin-bottom: 5px;
    line-height: 1.2;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .about-wrapper {
        overflow: scroll;
        width: 100%;
    }

    .about-side-wrapper {
        flex: 1;
    }

    .about-main-wrapper {
        flex: 2;
    }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
    .about-wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .about-main-wrapper {
        padding: 20px;
    }
}
.fa-star-of-life:before {
    content: "\f621";
    color: lightblue;
}