.dark-mode {
  background-color: black;
  color: white;
}
#outer-div{
  margin: auto;
  text-align: center;
  width: 80px;
  height: 30px;
  border: 2px solid black;
  border-radius: 25px;
}
#inner-div{
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  background-color: black;
  border-radius: 50px;
  position: relative;
  bottom: 1px;
}